/*
 *  Created by Pasi Lallinaho <pasi@shimmerproject.org>
 *  The license of this file is CC-BY-SA 2.0.
 *	
 */

#header {
	margin: 1em 0;
	padding: 0 1.5em;
}

	#header img {
		max-width: 80%;
		height: auto;
	}

#content {
	max-width: 100%;
	min-width: 0;

	margin: 0 auto;
	padding: 1.5em;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}