Source: xubuntu-docs
Section: doc
Priority: optional
Maintainer: Xubuntu Documentation Team <xubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 13),
 default-jre,
 docbook-xml,
 docbook-xsl,
 fonts-dejavu-core,
 fonts-noto,
 fop,
 itstool,
 libxml2-utils,
 xsltproc
Rules-Requires-Root: no
Standards-Version: 4.5.1
Vcs-Browser: https://github.com/Xubuntu/xubuntu-docs
Vcs-Git: https://github.com/Xubuntu/xubuntu-docs.git
Homepage: https://docs.xubuntu.org/current/

Package: xubuntu-docs
Architecture: all
Depends: ${misc:Depends}
Description: Xubuntu documentation
 This package holds the official Xubuntu-specific documentation, maintained
 by the Xubuntu Documentation Team. The documentation can be viewed using
 a web browser or a PDF reader.
