Source: xubuntu-docs
Section: doc
Priority: optional
Maintainer: Xubuntu Documentation Team <xubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
 default-jre,
 docbook-xml,
 docbook-xsl,
 fonts-dejavu-core,
 fonts-noto,
 fop,
 gnome-doc-utils,
 xsltproc
Standards-Version: 4.0.1

Package: xubuntu-docs
Architecture: all
Depends: ${misc:Depends}
Description: Xubuntu documentation
 This package holds the official Xubuntu-specific documentation, maintained
 by the Xubuntu Documentation Team. The documentation can be viewed using
 a web browser or a PDF reader.
